{% extends 'layout/layout.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Roles {% endblock %}

{% block content %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-list"></i>
                    Roles del sistema
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-12">
                            <button class="btn btn-primary mb-3" type="button" data-toggle="modal" data-target="#crtModal">
                                <i class="icon icon-plus"> </i> Agregar
                            </button>
                        </div>
                    </div>

                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>
                            {% for res in roles %}
                            <tr>
                                <td style="text-align: center">{{ res.rol_code }}</td>
                                <td>{{ res.rol_name}}</td>
                                <td>{{ res.rol_desc}}</td>
                                <td style="text-align: center">
                                    {% if res.rol_state == "ACT" %}
                                        Activo
                                    {% else %}
                                        Inactivo
                                    {% endif %}
                                </td>
                                <td align="center">

                                    <a class="btn btn-danger" href="#" title="Eliminar" data-toggle="modal" data-target="#myModal">
                                        <i class=" icon icon-trash"></i>
                                    </a>
                                    <a class="btn btn-success" href="#" title="Editar" data-toggle="modal" data-target="#myModal">
                                        <i class=" icon icon-pencil"></i>
                                    </a>
                                    <a class="btn btn-primary" href="#" title="Menus Asociados" data-toggle="modal" data-target="#myModal">
                                        <i class=" icon icon-share-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body">
                    //form here...
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="crtModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Rol  : :  Crear</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                </div>
                <div class="modal-body" id="targetCrt">
                    {% include 'admin/crtRolFrg.html' %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" form="crtFrom" type="submit">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/roles.js' %}"></script>
{% endblock %}