{% load bootstrap4 %}
<form           action="{% url 'editar_sucursal' 'AABBCCDD' %}"
                data-url="{% url 'validar_sucursal' %}"
                name="editar"
                method="POST"
                id="editar"
                class="form">
        {% csrf_token %}
        <div class="form-row">
            <div class="col col-4">
                 <label>Codigo :</label>
                {% bootstrap_field form.codigo   show_label=False %}
            </div>
            <div class="col col-8">
                <label>Nombre :</label>
                {% bootstrap_field form.nombre   show_label=False %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <label for="dir">Telefono :</label>
                {% bootstrap_field form.telefono   show_label=False %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
                <label for="dir">Correo :</label>
                {% bootstrap_field form.correo   show_label=False %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-12">
            <label>Descripcion :</label>
            {% bootstrap_field form.dir   show_label=False %}
            </div>

            <div class="col-12">
                 <label>Estado :</label>
            {% bootstrap_field form.estado   show_label=False %}
            </div>

        </div>
        {% bootstrap_field form.edit   show_label=False %}

</form>