a.btn{
    border-radius: 4px;
}
a.btn >i.icon{
    font-weight: bold;
}

button.btn{
    border-radius: 3px;
}
button.btn>i.icon{
    font-weight: bold;
}

#id_codigo{
    background-color: white;
    text-transform: uppercase;
}

.input-frm{
    background-color: white !important;
    margin-right: 30px;
    margin-left: 10px;
    max-width: 500px;
}