<div class="col-12" style="max-height: 600px;overflow-y:auto; ">
{% if permisos %}
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>

                                 {% for res in permisos %}
                            <tr>
                                <td style="text-align: center">{{ res.pk_codigo }}</td>
                                <td>{{ res.ct_nombre}}</td>
                                <td>{{ res.cd_descripcion}}</td>
                                <td align="center">
                                    <a class="btn btn-success"
                                       href="#"
                                       data-dismiss="modal"
                                       title="Eliminar"
                                        onclick="agregarPermiso('{{ res.pk_codigo }}')"
                                    >
                                        <i class=" icon icon-plus"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        {% if object_list.count > 9 %}
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                            {% else %}
                                <li class="page-item disabled ">
                                <a class="page-link" href=" " tabindex="-1">Previous</a>
                            </li>
                            {% endif %}
                            {% if page_obj.has_next %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Sigiente</a>
                            </li>
                            {% else %}
                                <li class="page-item disabled ">
                                <a class="page-link" href="" tabindex="-1">Sigiente</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
{% else %}
    <div class="row justify-content-center">
        <h4><strong style="color: #4d5254;">No se han encontrado permisos que puedan agregarse.</strong></h4>
    </div>
{% endif %}

</div>