{% load bootstrap4 %}
<form           action="{% url 'crear_user' %}"
                data-url="{% url 'validar_user' %}"
                name="crear"
                method="POST"
                id="crear"
                class="form">
        {% csrf_token %}
        <div class="form-row">
            <div class="col col-4">
                <label>Codigo :</label>
                {% bootstrap_field form.codigo   show_label=False show_help=False%}
            </div>
            <div class="col col-8">
                <label>Nombre de usuario :</label>
                {% bootstrap_field form.username   show_label=False show_help=False%}
            </div>
        </div>
        <div class="form-row">
            <div class="col-6">
                 <label>Rol asignado :</label>
                {% bootstrap_field form.rol   show_label=False %}
            </div>
            <div class="col-6">
                <label>Sucursal asignado :</label>
                {% bootstrap_field form.sucursal   show_label=False %}
            </div>
        </div>


        <div class="form-row">
            <div class="col col-6">
                 <label>Password :</label>
                {% bootstrap_field form.password1   show_label=False show_help=False %}
            </div>
            <div class="col col-6">
                 <label>Confirme password :</label>
                {% bootstrap_field form.password2   show_label=False show_help=False %}
            </div>

        </div>
        <div class="form-row">
                <div class="col col-12">
                     <label>Correo :</label>
                    {% bootstrap_field form.email   show_label=False %}
                </div>
        </div>
        <div class="form-row">
            <div class="col col-5">
                <label>Estado :</label>
                {% bootstrap_field form.estado   show_label=False %}
            </div>
        </div>

</form>