{% extends 'layout/layout.html' %}
{% load bootstrap4 %}
{% load static %}
{% block title %} Equipo electrico {% endblock %}

{% block content %}
    <div class="row" style="margin-top: 20px;">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <i class="icon-list"></i>
                    <strong>Catalogo de categorias de equipo electrico</strong>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-12">
                            {% for permiso  in Permisos  %}
                                {% if permiso.ct_nombre == 'puede_crear_categoria_equipo' %}
                                    <button class="btn btn-primary mb-3"
                                        id="btn_show_crear"
                                        data-url="{% url 'crear_categoria' %}"
                                        type="button"
                                        data-toggle="modal"
                                        data-target="#modal_crear">
                                    <i class="icon icon-plus"> </i> Agregar
                                </button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if list %}
                    <table class="table table-responsive-sm table-bordered table-striped table-sm">
                        <thead>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th><Descripcion></Descripcion></th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </thead>
                        <tbody>

                                 {% for res in list %}
                            <tr>
                                <td style="text-align: center">{{ res.pk_codigo }}</td>
                                <td>{{ res.ct_nombre}}</td>

                                <td>{{ res.cd_descripcion}}</td>
                                <td style="text-align: center">
                                    {% if res.cl_estado %}
                                        Activo
                                    {% else %}
                                        Inactivo
                                    {% endif %}
                                </td>
                                <td align="center">
                                    {% for permiso  in Permisos  %}
                                        {% if permiso.ct_nombre == 'puede_eliminar_categoria_euipo' %}
                                            <a class="btn btn-danger"
                                               href="#"
                                               data-toggle="modal"
                                               data-target="#modal_eliminar"
                                               style="color: white;"
                                               onclick="eliminar('{{ res.pk_codigo }}','{{ res.ct_nombre }}')"
                                               title="Eliminar sucursal">
                                                <i class="icon icon-trash"></i>
                                            </a>
                                        {% elif permiso.ct_nombre == 'puede_actualizar_categoria_equipo' %}
                                            <a class="btn btn-success btn_show_editar"
                                               data-url="{% url 'editar_categoria' res.pk_codigo %}"
                                               href="#"
                                               title="Edi   tar"
                                               data-toggle="modal"
                                               data-target="#modal_editar">
                                                <i class=" icon icon-pencil"></i>
                                            </a>

                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <div class="row justify-content-center">
                            <h4><strong> No hay registros a mostrar</strong></h4>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
{#    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Crear Categorias <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  #}
    <div class="modal fade"
         id="modal_crear"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modal_crear"
         style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Categoria de equipo  : :  Crear</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="target_crear">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button id="btn_crear" class="btn btn-primary" type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{#    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Editar sucursal <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  #}

    <div class="modal fade"
         id="modal_editar"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modal_editar"
         style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Rol  : :  Actualizar</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="target_editar">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button id="btn_editar" class="btn btn-primary"  type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>
{#    >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>    Eliminar sucursal <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  #}
    <div class="modal fade"
         id="modal_eliminar"
         tabindex="-1"
         role="dialog"
         aria-labelledby="modal_eliminar"
         style="display: none;"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> <strong style="color: darkred">Atencion !</strong></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body" id="target_eliminar">
                    <h5><strong>¿ Estas seguro de eliminar la categoria ?</strong></h5>
                    <strong> Si la categoria esta ligada a equipos electricos, esta no podra ser eliminada <br>
                    Categoria de equipo :<span id="sp_nombre"style="color: darkred"></span>
                    </strong>

                    <form action="#" id="eliminar" method="post">
                          {% csrf_token %}
                        <input type="text" value="" hidden>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
                    <button id="btn_eliminar" form="eliminar" onclick="this.form.submit()"  class="btn btn-primary"  type="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/catalog/equipo/categoria.js' %}"></script>
{% endblock %}